
.container{
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right:10px;
}

li{
	list-style: none
}

.desc {
	margin: 23px;
}

.addToCart{
   	position: absolute;
    bottom: 0;
}

.sizeBtn{
	margin: 5px;
	/* background-color: white !important;
	color: #b8adad !important; */
	
}
.sizeSection{
	position: relative;
    top: 30px;
}

